<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging Inbox</title>
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script type= "javascript" defer src="messageClient.js"></script>
</head>
<body>
    <form id="msgForm" actions = ''>
        <input type="text" id='messageInput' name="msg">
        <button onclick = 'sendMessage()'>Send</button>
        <div id="messages">

        </div>
    </form>
</body>
</html>