<%- include('partials/header') -%>

    <!-- Showcase -->
    <section class="bg-danger text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <div>
                    <h2>Find Your Next <span class="text-dark"> Expert</span></h2>
                    <span>The one-stop shop to swap!</span>
                    <p class="lead my-4">Need a guest?  Have a mic? Come explore our trove of experts on a variety of topics from Science, to Comedy, to Other!</p>
                </div>
                <img class= 'img-fluid w-50 d-none d-sm-block' src="/imgs/two-pods.svg">
            </div>
        </div>   
    
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-light"> Login</a>
            <a href="/signup" class="col-3 btn btn-light"> Signup</a>
        </div>
    </section>

    <!-- Title -->
    <section class="bg-light text-danger p-5">
        <div class ='container'>
            <h1 class="text-center"><a href="/profile"><img src="/imgs/podswap-logo.png" alt="PodSwap" id="logo"></a></h1>
        </div>
    
    
    <!-- Newsletter -->
    
        <div class="container">
            <div class ='d-md-flex justify-content-between align-items-center'>
                <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
                
                    <form class="input-group news-input" action = "/newsletter" method="POST">
                        <input type="text" class="form-control" placeholder="Recipient's email" aria-label="Recipient's username" aria-describedby="button-addon2" name="email">
                        <button class="btn btn-dark btn-lg" type="submit">Sign Up!</button>
                    </form>
                
            </div>
        </div>
    </section>

    <!-- Boxes -->

    <section class ='p-5 bg-dark'>
        <div class = 'container'>
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-danger text-dark">
                        <div class="card-body text-center">
                            <h3 class="card-title"> 
                                Guest? </h3>
                            <div class="h1">
                                <span class="fa fa-microphone"></span>
                            </div>
                            <p class="card-text">
                                Connect with top industry experts and take your podcast to the next level with PodSwap's guest matching service.
                            </p>
                            <a href="/signup" class="col-3 btn btn-light"> Read More</a>
                        </div> 
                    </div>
                </div>
                <div class="col-md">
                <div class="card bg-danger text-dart">
                    <div class="card-body text-center">
                            <h3 class="card-title"> Host? </h3>
                            <div class="h1">
                                <span class="fa fa-headphones"></span>
                            </div>
                            <p class="card-text">
                                Find the perfect guest for your show and get paid for hosting with PodSwap's host matching service.
                            </p>
                            <a href="/signup" class="col-3 btn btn-light"> Read More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- Learn Sections -->
    <section id="whatAbout" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="imgs/help-me.svg" class="img-fluid" alt="help-icon">
                </div>
                <div class="col-md p-5">
                    <h2>What Are We About?</h2>
                    <p class="lead">
                        Welcome to PodSwap, the premier platform for connecting expert guests with podcast hosts. Our mission is to make it easy for hosts to find and book high-quality guests for their shows, while also making sure that guests are fairly compensated for their time and expertise.

                        <br>At PodSwap, we believe that everyone has a story to tell and that podcasts are a powerful way to share                      those stories with the world. We also believe that guests deserve to be paid for their time and                     expertise. That's why we've created a platform that makes it easy for hosts to find and book guests,                    while also making sure that guests are fairly compensated.

                        <br> We work with a diverse range of guests, from industry experts and academics to authors and entrepreneurs, to ensure that hosts have access to the best talent. Our platform also allows guests to set their own rates and schedule, giving them the flexibility they need to balance their other commitments.

                        <br>Thank you for choosing PodSwap, and we look forward to connecting you with the perfect guest for your show.
                    </p>
                    <a href="#" class="btn btn-danger mt-3">
                        <span class="fa fa-chevron-right"></span>  Read More
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="whatAbout" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                
                <div class="col-md p-5">
                    <h2>What Are We About?</h2>
                    <p class="lead">
                        As a host, you can search for guests by keyword or by area of expertise. You can also set your own budget and schedule, and you'll only be matched with guests that fit those criteria. Once you find the perfect guest, you can book them directly through the platform, and our team will handle all of the details, such as scheduling and payment.

                        <br>For guests, PodSwap provides a platform to showcase your expertise and get paid for your time. You canset your own rates and schedule, and you'll be notified of any job ads that match your expertise. You can then apply to the job ads and communicate directly with the host to work out the details.
                    </p>
                    <a href="#" class="btn btn-danger mt-3">
                        <span class="fa fa-chevron-right"></span>  Read More
                    </a>
                </div>
                <div class="col-md">
                    <img src="imgs/connection.svg" class="img-fluid" alt="help-icon">
                </div>
            </div>
        </div>
    </section>

    


    

<%- include('partials/footer') -%>