<%- include('partials/header') -%>

    <!-- Showcase -->
    <section class="bg-danger text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <div>
                    <h2>Find Your Next <span class="text-dark"> Expert</span></h2>
                    <span>The one-stop shop to swap!</span>
                    <p class="lead my-4">Need a guest?  Have a mic? Come explore our trove of experts on a variety of topics from Science, to Comedy, to Other!</p>
                </div>
                <img class= 'img-fluid w-50 d-none d-sm-block' src="/imgs/two-pods.svg">
            </div>
        </div>   
    
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-light"> Login</a>
            <a href="/signup" class="col-3 btn btn-light"> Signup</a>
        </div>
    </section>

    <!-- Title -->
    <section class="bg-light text-danger p-5">
        <div class ='container'>
            <h1 class="text-center"><a href="/profile"><img src="/imgs/podswap-logo.png" alt="PodSwap" id="logo"></a></h1>
        </div>
    
    
    <!-- Newsletter -->
    
        <div class="container">
            <div class ='d-md-flex justify-content-between align-items-center'>
                <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
                <div class="input-group news-input">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-dark btn-lg" type="button">Sign Up!</button>
                  </div>
            </div>
        </div>
    </section>

    <!-- Boxes -->

    <section class ='p-5 bg-secondary'>
        <div class = 'container'>
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-danger text-dark">
                        <div class="card-body text-center">
                            <h3 class="card-title"> 
                                Guest? </h3>
                            <div class="h1">
                                <span class="fa fa-microphone"></span>
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minima tenetur quidem. Deserunt, nihil rerum.
                            </p>
                            <a href="/signup" class="col-3 btn btn-light"> Read More</a>
                        </div> 
                    </div>
                </div>
                <div class="col-md">
                <div class="card bg-danger text-dart">
                    <div class="card-body text-center">
                            <h3 class="card-title"> Host? </h3>
                            <div class="h1">
                                <span class="fa fa-headphones"></span>
                            </div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minima tenetur quidem. Deserunt, nihil rerum.
                            </p>
                            <a href="/signup" class="col-3 btn btn-light"> Read More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- Learn Sections -->
    <section id="whatAbout" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="imgs/help-me.svg" class="img-fluid" alt="help-icon">
                </div>
                <div class="col-md p-5">
                    <h2>What Are We About?</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt illo ipsam tenetur amet ea cumque temporibus ipsum, quidem ducimus totam dolorem, optio aut debitis quasi.
                    </p>
                    <a href="#" class="btn btn-danger mt-3">
                        <span class="fa fa-chevron-right"></span>  Read More
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="whatAbout" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="imgs/help-me.svg" class="img-fluid" alt="help-icon">
                </div>
                <div class="col-md p-5">
                    <h2>What Are We About?</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt illo ipsam tenetur amet ea cumque temporibus ipsum, quidem ducimus totam dolorem, optio aut debitis quasi.
                    </p>
                    <a href="#" class="btn btn-danger mt-3">
                        <span class="fa fa-chevron-right"></span>  Read More
                    </a>
                </div>
            </div>
        </div>
    </section>

    


    

<%- include('partials/footer') -%>