#logo{
    height: 33%;
    width: 33%;
}
nav li{
    display: inline;
    border-left: 2px solid rgb(231, 83, 83);
    /* border-right: 2px solid rgb(180, 114, 114); */
}

#navbar-logo{
    height: 10%;
    width: 10%;
}


/* Media queries */

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}