#logo{
    height: 33%;
    width: 33%;
}
nav li{
    display: inline;
    border-left: 2px solid rgb(231, 83, 83);
    /* border-right: 2px solid rgb(180, 114, 114); */
}

#navbar-logo{
    height: 10%;
    width: 10%;
}

/* profilepic */
.profilecontainer{
    width: 30%;
}

/* Inbox */
.chat-messages{
    /* background: rgba(203, 124, 124, 0.95); */
    margin: 10px;
    border-radius: 10px;
    
}

.messages{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgba(203, 124, 124, 0.95);
    border-radius: 10px;
}
.message-top{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: silver;
}


/* Media queries */

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }

}

@media(max-width: 768px){
   .totalProfile{
        display: flex;
        flex-direction: column;
   }
   
}