#logo{
    height: 33%;
    width: 33%;
}

/* .firstSect{
    padding-top: 150px;
} */

/* nav stuff */
/* .navbar{
    position: fixed;
    z-index: 999;
    margin-bottom: 20px;
} */

nav li{
    display: inline;
    border-left: 2px solid rgb(231, 83, 83);
    /* border-right: 2px solid rgb(180, 114, 114); */
}

#navbar-logo{
    height: 10%;
    width: 10%;
}

/* profilepic */
.profilecontainer{
    width: 30%;
}

/* Inbox */
.chat-messages{
    /* background: rgba(203, 124, 124, 0.95); */
    margin: 10px;
    border-radius: 10px;
    
}

.messages{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgba(203, 124, 124, 0.95);
    border-radius: 10px;
}
.message-top{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: silver;
}

.messageBox{
    position: fixed;
    top: 10px; /* adjust to your needs */
    left: 0px;
    right: 0;
    margin: auto;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* Media queries */

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }

}

@media(max-width: 768px){
   .totalProfile{
        display: flex;
        flex-direction: column;
   }
   
}